<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<context:component-scan base-package="usi" />
	<context:property-placeholder location="/dao.properties"/>

	<!-- Caches configuration -->

	<bean id="cacheFactory" class="com.gemstone.gemfire.cache.CacheFactory">
		<constructor-arg index="0">
			<util:properties id="distributedSystemProperties" location="gemfire.properties" />
		</constructor-arg>
	</bean>

	<bean id="cache" factory-bean="cacheFactory" factory-method="create"/>
	
	<bean id="distributedCacheProvider" class="usi.poc.data.DistributedCacheProvider"/>
	
	
	<!-- Specifics caches management -->
	
	<bean id="usersCacheListener" class="usi.poc.data.UsersCacheListener" />

	<bean id="usersCache" factory-bean="distributedCacheProvider" factory-method="createUserCache">
		<constructor-arg index="0" ref="usersCacheListener" />
	</bean>
	
	<bean id="gameCache" factory-bean="distributedCacheProvider" factory-method="createGameCache" />
	
	<bean id="answersCache" factory-bean="distributedCacheProvider" factory-method="createAnswersCache" />
	
	<bean id="timerCache" factory-bean="distributedCacheProvider" factory-method="createTimerCache" />

	<bean id="longpoll" class="usi.poc.LongPollRestController">
        <property name="game" ref="game" />
    </bean>
    
    <!-- Services -->
	
	<bean id="game" class="usi.poc.business.impl.GameImpl" factory-method="getInstance"/>

	<!-- DAO -->
	
	<bean id="userDAO" class="${dao.user}" />
	<bean id="gameDataDAO" class="${dao.gamedata}" />
	<bean id="answerDAO" class="${dao.answer}" />
	<bean id="timerDAO" class="${dao.timer}" />
	
	<!-- Bypass pour eviter que Spring coupe les URIs avant le caractere "."  -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
    	<property name="useDefaultSuffixPattern" value="false" />
	</bean>
	
</beans>
